.App {
  background-color: rgb(235, 235, 235);
  overflow: hidden;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}
.users{
  overflow: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.addedUser{
  width: 25%;
  border-left: 2px solid lightgrey;
  padding: 5px;
}

@media screen and (max-width:1300px){
  .users{
    grid-template-columns: 1fr 1fr;
  }
  .addedUser{
    width: 35%;
  }
}
@media screen and (max-width:1135px){
  .users{
    grid-template-columns: 1fr;
  }
  .addedUser{
    width: 50%;
  }
}
@media screen and (max-width:750px){
  .users{
    grid-template-columns: 1fr;
  }
  .App{
    display: block;
  }
  .addedUser{
    width: 95%;
    border-left: 0px;
    margin: auto;
  }
}